.enquete{
    display: flex;
    flex-direction: row;
    line-height: 30px;
}
.voltar{
    min-width: 100px;
}
.btn, .btn-primary{
    width: 100%;
}
.lista-linguagens{
    column-count: 3;
}
.btn-radius{
    border-radius: 30px;
}
.submit-enquete{
    display: flex;
    justify-content: space-around;
}

.btn-success{
    min-width: 100px;
}

@media(max-width:750px){
    .enquete{
        flex-direction: column;
        align-items: center;
    }
    .lista-linguagens{
    	column-count: 2;
    }